
@{
    Layout = null;
}

@if (User.IsInRole("Admin"))
{
    <h2>Здравей, <span>@User.Identity.Name!</span><br>Какви ще ги къдриш днес?</h2>
}
else if (User.IsInRole("Teacher"))
{
    <h2>Здравей, <span>@User.Identity.Name!</span><br>Преподавай със забава!</h2>
}
else if (User.IsInRole("Parent"))
{
    <h2>Здравей, <span>@User.Identity.Name!</span><br>Проследи успеха му от близо!</h2>
}
else if (User.IsInRole("Child"))
{
    <h2>Здравей, <span>@User.Identity.Name!</span><br>Подготви се за днес!</h2>
}
else
{
    <h2>Здравей, <span>@User.Identity.Name!</span><br>Изчакай одобрение!</h2>
}

