@model LearningPlus.Web.ViewModels.Assessment.MarkbookViewModel

@{
    ViewData["Title"] = "Бележник";
}

<h1 class="text-center mt-3">Бележник на @Model.ChildName</h1>

@if (User.IsInRole("Teacher"))
{
    <div class="w-75 mx-auto">
        <p>
            <a asp-action="CreateAssessment" asp-route-id="@Model.ChildId">Оцени</a>
        </p>
    </div>
}

<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-4">Дата</th>
            <th class="col-md-3">Предмет</th>
            <th class="col-md-2">Оценка</th>
            <th class="col-md-2">Забележка</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model.Assessments.Count > 0)
            {
                var i = 1;
                foreach (var assesment in Model.Assessments)
                {
                    <tr class="row">
                        <td class="col-md-1">@i</td>
                        <td class="col-md-4">@assesment.Date.ToString("MM/dd/yyyy")</td>
                        <td class="col-md-3">@assesment.Discipline</td>
                        <td class="col-md-2">@assesment.Mark</td>
                        <td class="col-md-2">@assesment.Notes</td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr class="row">
                    <td class="col-md-12 text-center text-warning display-4">Все още няма нанесени оценки</td>
                </tr>
            }
        }
    </tbody>
</table>

